/* STYLING NAVBAR */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
a:link {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.nav-item a:link{
  font-family: "Catamaran",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

a:visited{
  color: #2f2f2f;
  text-decoration:none;
}

h2 {
  font-family: 'Cabin Sketch', cursive;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
}

p, a, table, address {
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
}

h3 {
  font-family: "Catamaran", sans-serif;
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}


ul a {
  font-size: 24px;
}

/* STYLING ABOUT */

.about h3 {
    color: #be4729;
    }

.about {
  background-color: #ffffff;
}

.about .row {
  background-color: #ffffff;
}

.about .img-left {
  max-width: 100%;
  height: auto;
}   


/* MENU STYLING */

.menu {
    background-color: #BE4729;
    color: white;
}

.menu ul {
    font-family: "Catamaran", sans-serif;
    font-size: 16px;
    list-style:none;
    padding:0;
    line-height: 36px; 
}

.download a {
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration:none;
    color:white;
    font-family: "Catamaran", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;

}

.download a:hover {
    background-color:white;
    color: #BE4729;
}

/*Contact*/

.contact {
  background-color: #AFC8AD; 
}
.contact h2 {
  font-size: 30px;
}

.contact h3 {
  font-size: 17px;
}